name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:  
          node-version: '22'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Install and Build
        run: |
          npm install
          npm run build

      - name: Build APK with Capacitor
        run: |
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init "GameHub" "com.sayed.gamehub" --web-dir dist
          npx cap add android
          npx cap copy android
          cd android && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyGame-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
